{% extends 'account/base_account.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h1> Articles</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Image</th>
            <th>Contenu</th>
            <th>Titre</th>
            <th>Date</th>
            <th>Actions</th>
            <th>Commentaires</th>
        </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>
                    {% if article.image !='' %}
                        <img src="{{ article.image }}" height="50px" width="auto" alt="image de l'article">
                    {% endif %}
                </td>
                <td>{{ article.contenu }}</td>
                <td>{{ article.titre }}</td>
                <td>{{ article.date ? article.date|date('d-m-Y') : '' }}</td>
                <td>
                    <a href="{{ path('account_article_show', {'id': article.id}) }}">Détail</a>
                </td>
                <td>
                    <a href="{{ path('account_commentaire_index', {'idArticle': article.id}) }}">Commentaires</a><br>
                    <a href="{{ path('account_commentaire_new', {'idArticle': article.id}) }}">Add Commentaires</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
