{% extends 'account/base_account.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1>Article</h1>

    <div>
        {% if article.image !='' %}
            <img src="{{ article.image }}" height="200px" width="auto" alt="image de l'article">
        {% endif %}
    </div>
    <table class="table">
        <tbody>
        <tr>
            <th>Titre</th>
            <td>{{ article.titre }}</td>
        </tr>
        <tr>
            <th>Contenu</th>
            <td>{{ article.contenu }}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{ article.date ? article.date|date('d-m-Y') : '' }}</td>
        </tr>
        <tr>
            <th>Commentaires</th>
            <td><a href="{{ path('account_commentaire_index', {'idArticle': article.id}) }}">Voir les commentaires</a>
            </td>
        </tr>
        </tbody>
    </table>



{% endblock %}
